.container {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-top: 3.9vw;

    width: 100%;
    background: linear-gradient(180deg, #FEFBF6 78.85%, #F9F2EA 100%);
}

.container h3 {
    color: #303131;
    font-family: var(--font-gabarito);
    font-size: 2.7vw;
    font-weight: 700;
}

.container p {
    width: 53%;
    color: #171717;
    font-family: var(--font-syne);
    font-size: 1.67vw;
    font-weight: 400;
    margin-bottom: 1.9vw;
}

.highlightText {
    color: #8A0000;
    font-family: var(--font-syne);
    font-size: 1.67vw;
    font-weight: 500;
}

.foodImg {
    position: absolute;
    width: 38.6vw;
    right: 0;
    /* top: 97vh; */
    transform: translateY(-7vw);
}