.container {
    display: flex;
    flex-direction: column;
    background-color: #F9F2EA;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3.18vw;
    overflow: hidden;
}

.container h3 {
    color: #303131;
    font-family: var(--font-gabarito);
    font-size: 2.7vw;
    font-weight: 700;
    z-index: 2;
}

.verticalLine {
    width: 0.156vw;
    margin-left: 2.76vw;
    margin-right: 2.76vw;
    z-index: 2;
}

.brushStroke {
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-8vw);
}